@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<form id="post2" method="post">
    <input name="name1" value="xxx1" />
    <input name="name2" value="xxx2" />
    <input id="button" type="submit" value="Upload" />
</form>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script>
    $(document).ready(function () {

        $('form').submit(function(event) {
            event.preventDefault();
            var data = {
                name1: $("input[name='name1']", this).val(),
                name2: $("input[name='name2']",this).val()
            };

            alert(JSON.stringify(data));
            console.log(JSON.stringify(data));

            $.ajax({
                type: 'POST',
                url: '/Home/Ajax',
                dataType: 'json',
                data: data,
                success: function(response) {
                    alert(response);
                    console.log('Data received: ');
                    console.log(response);
                },
                failure: function(response) {
                    //...
                },
                error: function(response) {
                    //...
                }
            });
        });
    });
</script>